@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&family=Rubik:wght@600&display=swap');
body {
    background: url("/static/wallpaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #eceff4;
}

table {
    width: 100%;
}

img {
    width: 24px;
}

td, th {
    vertical-align: middle;
    text-align: left;
    padding: 8px;
    font-family: Roboto;
    font-size: 18px;
}

tr {
    outline: 1px solid #d8dee9;
    outline-offset: -1px;
    border-radius: 10px;
}

th {
    font-family: Montserrat;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-family: Rubik;
}

a {
    color: lightsteelblue;
}

.filter-white {
    filter: invert(100%) sepia(12%) saturate(1466%) hue-rotate(176deg) brightness(97%) contrast(97%);
}

#body {
    margin: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}